<ion-header [translucent]="true">
  <ion-toolbar color="lucky">
    <ion-title>
      Básica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
    <ion-item color="success">
      <ion-label>
        Primeiro valor: 
      </ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item color="success">
      <ion-label>
        Segundo valor: 
      </ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

  <ion-card color="success">
    <ion-card-header>
      <ion-card-subtitle color="lucky">RESULTADO: </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> 
      <p>
        {{ resultado }}
      </p>
    </ion-card-content>
  </ion-card>

    <ion-card color="success">

        <ion-button color="lucky" expand="block" (click)="soma()">
          <ion-icon name="add-circle-outline"></ion-icon>
          &nbsp;SOMAR&nbsp;
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>

      <ion-button color="lucky" expand="block" (click)="subtracao()">
        <ion-icon name="remove-circle-outline"></ion-icon>
        &nbsp;SUBTRAIR&nbsp;
        <ion-icon name="remove-circle-outline"></ion-icon>
      </ion-button>

      <ion-button color="lucky" expand="block" (click)="multiplicacao()">
        <ion-icon name="close-circle-outline"></ion-icon>
        &nbsp;MULTIPLICAR&nbsp;
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>

      <ion-button color="lucky" expand="block" (click)="divisao()">
        <ion-icon name="repeat-outline"></ion-icon>
        &nbsp;DIVIDIR&nbsp;
        <ion-icon name="repeat-outline"></ion-icon>
      </ion-button>

      &nbsp;
      &nbsp;

      <ion-button color="lucky" expand="block" (click)="limpar()">
        LIMPAR
      </ion-button>

    </ion-card>
 
    </ion-content>
